.DS_Store
*.log
.idea/
.vscode/
*.pyc
.ipynb_checkpoints
results/
models/
**/__pycache__/
*.py[cod]
*$py.class
dataset/
ffmpeg*
ffmprobe*
ffplay*
debug
exp_out
.gradio
.env
**/.env
.claude/
.tmp-*/

core_data/*
doc/*
models/*
data/*
!data/public/
data/public/*
!data/public/*.mp4
data/public/*.exe
cache/
MeloTTS2/bert_model/
MeloTTS2/pretrained_model/
MeloTTS2/onnx_models/
